html, body {
    height: 100%;
    margin: 0;
}


.macros-container {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    margin-top: 100px;  /* Adjust this value based on the header height */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Limit maximum width for responsiveness */
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    letter-spacing: 0.2px;
    height: 470px;
    scrollbar-width: thin;
    scrollbar-color: #7878DD transparent;
    
}

.macros-container h1 {
    font-size: 3rem;
    color: #7878DD;
    text-align: center
}

.macros-container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.macros-container label {
    margin-bottom: 10px;
}

.macros-container input, .macros-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.macros-container button {
    padding: 10px 20px;
    background-color: #171C26;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.macros-container button:hover {
    background-color: #7878DD;
}

.result .calories {
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result h2 {
    font-size: 2em;
    color: #ff0000;
    margin-bottom: 10px;
}

.result p {
    font-size: 1.2em;
    color: #555;

}

.result .range {
    font-size: 0.8em;
    color: #6e6e6e;
    margin-bottom: 10px;
}

select {
    color: #555;
}
