<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCalisthenics</title>

    <link rel="stylesheet" href="../../static/CSS/base.css">
    <link rel="stylesheet" href="../../static/CSS/blog.css">
    <link rel="preload" as="image" href="../../static/assets/Blog/Main/blogsbg.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"/>
</head>
<body style="background-image: url('../../static/assets/Blog/Main/blogsbg.webp')">

    <!--Nav-->
    <header>
        <div class="container">
            <nav>
                <div class="menu-icons">
                    <i class="ri-menu-line"></i>
                    <i class="ri-close-line"></i>
                </div>

                <a href="../../index.html" class="logo">
                    <img src="../../static/assets/Base/devcal.png">
                </a>

                <ul class="nav-list">
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Programs <i class="fas fa-caret-down"></i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="../../Templates/Programs/beginner_program.html">Beginner Program</a>
                            </li>
                            <li>
                                <a href="#">Intermediate Program</a>
                            </li>
                            <li>
                                <a href="#">Advanced Program</a>
                            </li>
                            <li>
                                <a href="../../Templates/Programs/handstand_program.html">Handstand Program</a>
                            </li>
                            <li>
                                <a href="#">Muscle-Up Program</a>
                            </li>
                            <li>
                                <a href="../../Templates/Programs/Pull_Up_program.html">Pull-Up Program</a>
                            </li>
                            <li>
                                <a href="#">Mobility Program</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Nutrition <i class="fas fa-caret-down"></i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="../Nutrition/macronutrients.html">Macronutrients</a>
                            </li>
                            <li>
                                <a href="../Nutrition/macroscalc.html">Macros Calculator</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../Blogs/blog.html">Blogs</a>
                    </li>
                    <li>
                        <a href="../FAQs/FAQ.html">FAQs</a>
                    </li>
                    <li class="move-right btn">
                        <a href="#">Free E-Book</a>
                    </li>
                </ul>

            </nav>
        </div>
    </header>

    <section id="blog">
        <div class="blog-heading">
            <h1><strong>DevCalisthenics Blogs</strong></h1>
        </div>

        <div class="blog-box-container">
            <!--Box1-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/gymnast.webp" alt="Gymnast">
                    <a href="../../Templates/Blogs/blog1.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>Why Calisthenics will Improve your Health!</strong>
                    <a href="../../Templates/Blogs/blog1.html">The Benefits of Calisthenics Training</a>
                    <p>
                        Calisthenics, a form of exercise consisting of various movements that rely on body weight for resistance, 
                        has gained popularity due to its simplicity and effectiveness.
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>August 6, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box2-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/healthy.webp" alt="nutrition">
                    <a href="../../Templates/Blogs/blog2.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>You Are What You Eat!</strong>
                    <a href="../../Templates/Blogs/blog2.html">The Importance of Nutrition in Calisthenics</a>
                    <p>
                        Proper nutrition plays a crucial role in the success of any fitness program, and calisthenics is no exception. 
                        Here are some important nutritional tips to help you maximize your calisthenics training:
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>July 2, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box3-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/bodyweight.webp" alt="bodyweight">
                    <a href="../../Templates/Blogs/blog3.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>We All Start Somewhere!</strong>
                    <a href="../../Templates/Blogs/blog3.html">Effective Bodyweight Exercises for Beginners</a>
                    <p>
                        Bodyweight exercises are a great way to build strength and improve fitness without needing any equipment. 
                        These exercises leverage your own body weight to provide resistance, making them accessible and convenient 
                        for everyone. If you're new to calisthenics, here are some effective exercises to get you started:
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>June 18, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box4-->
            <!--Box3-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/supplements.webp" alt="supplements">
                    <a href="../../Templates/Blogs/blog4.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>Supplement Your Training!</strong>
                    <a href="../../Templates/Blogs/blog4.html">Nutritional Supplements for Calisthenics Athletes & Performance</a>
                    <p>
                        While a balanced diet should always come first, nutritional supplements can complement your calisthenics training 
                        and support overall performance. Supplements can help fill nutritional gaps and provide an extra boost to enhance 
                        your workouts. Here are some popular supplements for calisthenics athletes:
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>May 29, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box5-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/advanced.webp" alt="master">
                    <a href="../../Templates/Blogs/blog5.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>Always A Student!</strong>
                    <a href="../../Templates/Blogs/blog5.html">Advanced Calisthenics Techniques: From Basics to Mastery</a>
                    <p>
                        Ready to take your calisthenics training to the next level? Explore these advanced techniques to challenge your 
                        strength, flexibility, and coordination. Advanced calisthenics moves require dedication and proper progression 
                        to master, so ensure you have a solid foundation in basic exercises before attempting these:
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>April 2, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Box6-->
            <div class="blog-box">
                <div class="blog-box-img">
                    <img src="../../static/assets/Blog/Main/yoga.webp" alt="yoga">
                    <a href="../../Templates/Blogs/blog6.html" class="blog-img-link">
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </a>
                </div>
                <div class="blog-box-text">
                    <strong>Strong Mind, Strong Body!</strong>
                    <a href="../../Templates/Blogs/blog6.html">The Role of Mental Conditioning in Calisthenics Success</a>
                    <p>
                        Calisthenics isn't just about physical strength; mental conditioning plays a crucial role in achieving peak 
                        performance. Developing a strong mental game can help you stay motivated, overcome obstacles, and reach your 
                        fitness goals more effectively.
                    </p>
                    <!--Author-->
                    <div class="blog-author">
                        <div class="blog-author-img">
                            <img src="../../static/assets/Blog/Main/author.jpg" alt="J">
                        </div>
                        <div class="blog-author-text">
                            <strong>Juan Carlos Domingez</strong>
                            <span>March 20, 2024</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <!--Footer-->
    <footer>
        <ul class="footer-icons">
            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <!-- <li><a href="https://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li> -->
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.discord.com" target="_blank"><i class="fab fa-discord"></i></a></li>
        </ul>

        <ul class="footer-menu">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Nutrition</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">About Us</a></li>
        </ul>

        <div class="footer-copyright">
            <p>Copyright @ 2024 DevCalisthenics. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../../static/JavaScript/script.js"></script>
</body>
</html>