<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevCalisthenics</title>

    <link rel="stylesheet" href="../../static/CSS/base.css">
    <link rel="stylesheet" href="../../static/CSS/FAQ.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"/>
</head>
<body style="background-image: url('../../static/assets/FAQ/gym_s2.png')">

    <!--Nav-->
    <header>
        <div class="container">
            <nav>
                <div class="menu-icons">
                    <i class="ri-menu-line"></i>
                    <i class="ri-close-line"></i>
                </div>

                <a href="../../index.html" class="logo">
                    <img src="../../static/assets/Base/devcal.png">
                </a>

                <ul class="nav-list">
                    <li>
                        <a href="../../index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Programs <i class="fas fa-caret-down"></i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Beginner Program</a>
                            </li>
                            <li>
                                <a href="#">Intermediate Program</a>
                            </li>
                            <li>
                                <a href="#">Advanced Program</a>
                            </li>
                            <li>
                                <a href="#">Handstand Program</a>
                            </li>
                            <li>
                                <a href="#">Muscle-Up Program</a>
                            </li>
                            <li>
                                <a href="#">Pull-Up Program</a>
                            </li>
                            <li>
                                <a href="#">Mobility Program</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Nutrition <i class="fas fa-caret-down"></i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Macronutrients</a>
                            </li>
                            <li>
                                <a href="#">Macros Calculator</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blogs</a>
                    </li>
                    <li>
                        <a href="../FAQs/FAQ.html">FAQs</a>
                    </li>
                    <li class="move-right btn">
                        <a href="#">Free E-Book</a>
                    </li>
                </ul>

            </nav>
        </div>
    </header>
 
    <div class="faq-container">

    </div>


    <!--Footer-->
    <footer>

    </footer>


    <script src="../../static/JavaScript/script.js"></script>
</body>
</html>